@font-face {
  font-family: "gentona-light";
  src: url("../fonts/Gentona-Light.ttf");
}
@font-face {
  font-family: "gentona-medium";
  src: url("../fonts/Gentona-Medium.ttf");
}
@font-face {
  font-family: "quadon-black";
  src: url("../fonts/Quadon-Medium.ttf");
}
@font-face {
  font-family: "quadon-regular";
  src: url("../fonts/Quadon-Regular.ttf");
}